@model Library.Models.Genre

@using (Html.BeginForm("Update", "EditGenres", FormMethod.Post, new { id = "updateGenre" }))
{   
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Title, new { id = "genreTitle" })
        @Html.ValidationMessageFor(model => model.Title)
    </div>    
    
    @Html.HiddenFor(mode => Model.Id);
}